
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.graph-container {
    text-align: center;
    margin-bottom: 20px;
}

.graph-label {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

#weight1 {
    background-color: rgb(235, 226, 226);
}

#weight2 {
    background-color: rgb(247, 246, 246);
}

#temperature {
    background-color: rgba(253, 252, 252, 0.993);
}

#humidity {
    background-color: rgb(244, 244, 245);
}