body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.graph-container {
    text-align: center;
    margin-bottom: 20px;
}

.graph-label {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

#weight1 {
    background-color: rgb(248, 247, 247);
}

#weight2 {
    background-color: rgb(245, 243, 243);
}

#temperature {
    background-color: rgb(240, 235, 235);
}

#humidity {
    background-color: rgb(242, 242, 245);
}